<h2>
  Deconst Control Repository
</h2>

<div class="form-group">
  <label for="content-service-url" class="bold-label">Content Service URL</label>
  <p class="help-text">
    Base URL of the content service endpoint for this Deconst cluster.
  </p>
  <input type="text" id="content-service-url" ng-model="config.contentServiceURL" ng-blur="save()" placeholder="https://...:9000/">

  <label for="content-service-apikey" class="bold-label">Content Service Admin API Key</label>
  <p class="help-text">
    API key issued by the content service. Must have admin rights.
  </p>
  <input type="password" id="content-service-apikey" ng-model="config.contentServiceAdminAPIKey" ng-blur="save()">

  <label for="slack-webhook-url" class="bold-label">Slack Webhook URL</label>
  <p class="help-text">
    <em>Optional.</em> <a href="https://my.slack.com/services/new/incoming-webhook">Incoming webhook</a>
    used to configure Slack notifications.
  </p>
  <input type="text" id="slack-webhook-url" ng-model="config.slackWebhookURL" ng-blur="save()" placeholder="https://hook.slack/services/etc">

  <label for="staging-presenter-url" class="bold-label">Staging Presenter URL</label>
  <p class="help-text">
    Base URL of the staging server.
  </p>
  <input type="text" id="staging-presenter-url" ng-model="config.stagingPresenterURL" ng-blur="save()" placeholder="https://staging...">

  <label for="staging-content-service-url" class="bold-label">Staging Content Service URL</label>
  <p class="help-text">
    Base URL of the staging content service for this Deconst cluster.
  </p>
  <input type="text" id="staging-content-service-url" ng-model="config.stagingContentServiceURL" ng-blur="save()" placeholder="https://content.staging...">

  <label for="staging-admin-key" class="bold-label">Staging Admin API Key</label>
  <p class="help-text">
    API key issued by the staging content service. Must have admin rights.
  </p>
  <input type="password" id="staging-admin-key" ng-model="config.stagingContentServiceAdminAPIKey" ng-blur="save()">

  <label for="slack-channel" class="bold-label">Slack Channel</label>
  <p class="help-text">
    <em>Optional.</em> Channel to use for Slack notifications.
  </p>
  <input type="text" id="slack-channel" ng-model="config.slackChannel" ng-blur="save()" placeholder="#general">

  <label class="bold-label inline-label">
    <input type="checkbox" class="inline-checkbox" ng-model="config.verbose" ng-change="save()"> Verbose
  </label>
  <p class="help-text">
    Emit verbose logging messages during content preparation.
  </p>

  <label class="bold-label inline-label">
    <input type="checkbox" class="inline-checkbox" ng-model="config.contentServiceTLSVerify" ng-change="save()"> Verify TLS Connections
  </label>
  <p class="help-text">
    Enable TLS verification for connections to the content service.
    <span class="danger">
      <i class="fa fa-exclamation-triangle"></i>
      Danger: this setting impacts the security of your communications with the Deconst cluster and
      risks leaking your API key. Only disable this setting in non-production environments.
      <i class="fa fa-exclamation-triangle"></i>
    </span>
  </p>
</div>
